*{
	font-family: Garamond;
	text-align: center;
}
header{
	background-color: #8C7B75;
	color: white;
	height: 70px;
	font-size: 150%;
}
footer{
	background-color: #8C7B75;
	color: white;
	height: 70px;
	font-size: 150%;
	clear: both;
}
#lewy{
	background-color: #BCAAA4;
	height: 400px;
	width: 35%;
	float: left;
}
#prawy{
	background-color: #BCAAA4;
	height: 400px;
	width: 35%;
	float: left;
}
#srodkowy{
	background-color: #EFDCD5;
	height: 400px;
	width: 30%;
	float: left;
}
li{
	text-align: left;
}
img{
	border: 1px dashed #8C7B75;
	padding: 5px;
	border-radius: 10%;
}
div{
	margin-top: 100px;
	border: 1px solid #8C7B75;
}